#main{
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
#msg{
    background: #1D1F20;
    width: 440px;
}
#input{
    width: fit-content;
    margin: auto;
    text-align: right;
    margin-top: 30px;
}
#result{
    width:500px;
    height:360px;
    background:#1D1F20;
    color: #ffffff;
}
#oparea{
    border-radius: 10px;
    width: 550px;
    height: 450px;
    margin: auto;
    text-align: center;
    background: #1D1F20;
}
.logo{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
}
.hidden{
    display: none;
}
.othertitle{
    font-family: Lucida Console;
    text-align: center;
    color: #ffffff;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #1D1F20;
}
a{
    text-decoration: none;
}
textarea{
    font-family: Lucida Console;
    resize: none;
    border-radius: 10px;
    padding: 7px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
}
input{
    font-family: Lucida Console;
    border-radius: 4px;
    border-width: 1px;
    line-height: 20px;
    padding: 1px 3px;
    background: #1D1F20;
    color: #ffffff;
}
button{
    font-family: Lucida Console;
    border-radius: 4px;
    border-width: 1px;
    line-height: 20px;
    background: #1b1918;
    color: #ffff;
    padding: 1px;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200');

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
}
.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 10px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
