<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Chicken Farm</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div id="input">
        <input type="text" placeholder="account" id="acc"><br><br>
        <input type="text" placeholder="password" id="pwd"><br><br>
        <button id="submit">submit</button>
    </div>
    <div id="main" class="hidden">
        <textarea id="msg"></textarea>
        <button id="text-submit">submit</button>
        <div id="result"></div>
        <p id="test"></p>
    </div>
    <script src="./static/client.js"></script>
</body>
</html>
